@model IEnumerable<BO.Race>

@{
    ViewBag.Title = "Courses";
}

<h2>Liste des courses</h2>

<p>
   @if (User.IsInRole("Admin") || User.IsInRole("SA"))
{
    @Html.ActionLink("Ajouter une nouvelle course", "Create", null, new { @class = "btn btn-default" })
}
  
</p>

@if (null != TempData["alertMessage"])
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        @TempData["alertMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>

        <td>
            @if (item.Category != null)
            {
                @Html.DisplayFor(model => item.Category.Title)
            }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Modifier", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
            }
            @Html.ActionLink("Détails", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
            @if (User.IsInRole("Admin"))
            {
                 @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }, new { @class = "btn btn-default" }) 
            }
            @Html.ActionLink("S'inscrire", "Inscription", new { id = item.Id , amount = item.Price, title = item.Category.Title, end = item.DateEnd, start = item.DateStart }, new { @class = "btn btn-default" })

            @* on envoie que l'id de la course seul, c'est suffisant
            @Html.ActionLink("S'inscrire", "Inscription", new { id = item.Id }, new { @class = "btn btn-default" })*@

        </td>
    </tr>
}
</table>
@Html.ActionLink("Voir mes inscriptions", "Liste_Inscription")
<p>
</p>